<div class="border-right" id="sidebar-wrapper">
	<div class="sidebar-heading text-center">
		<img src="{{ url_for('static', filename='images/Crypto Logo.png') }}" alt=""
			class="my-4 logo-crypto" />
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('elgamal') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'elgamal'}}"> Elgamal </a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('eceg') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'eceg'}}"> Elliptic Curve Elgamal</a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('rsa') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'rsa'}}">RSA</a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('paillier') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'paillier'}}">Paillier</a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('elgamalKey') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'elgamal_key'}}"> Generate Elgamal key </a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('ecegKey') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'eceg_key'}}"> Generate ECEG key </a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('rsaKey') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'rsa_key'}}"> Generate RSA key </a>
	</div>
	<div class="list-group list-group-flush">
		<a href="{{ url_for('paillierKey') }}" class="list-group-item list-group-item-action {{ 'active' if active_page == 'pailler_key'}}"> Generate Paillier key </a>
	</div>
</div>